<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
    <span> <mat-icon>home</mat-icon>CONFLOMARK</span>

    <div class="spacer"></div>
    <button mat-button routerLink="dummy">DUMMY</button>
    <button mat-button routerLink="cliente">CLIENTE</button>
    <button mat-raised-button router-link="home">Home</button>
    <button mat-raised-button router-link="services">services</button>
    <button mat-raised-button router-link="projects">Projects</button>
    <button mat-raised-button router-link="aboutus">About Us</button>
    <button mat-raised-button color="accent" router-link="singup">Sing Up</button>
</mat-toolbar> -->