<h1 style="color:white; background:blue; text-align: center; font-weight:bold; font-size:70px">PIANO</h1>
<div class="row">
    <div class="col-lg-5">
        <div class="list-group">
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: aqua;"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="list-group">
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: aqua;"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
        </div>
    </div>
</div>



<!-- <audio controls>
    <source src="../assets/sonidos/note2.wav">
  </audio> -->