<h1 style="color:white; background:blue; text-align: center; font-weight:bold; font-size:70px">CONVERTIDOR DE MONEDAS</h1>

<div class="container is-max-desktop">
    <div class="field">
        <label class="label" style="color:black; font-weight:bold; font-size:25px">INGRESE LA CANTIDAD::</label>
        <div class="control">
            <input class="input" type="number" (input)="convertir()" [(ngModel)]="cantidad" placeholder="Ingrese Cantidad">
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-expanded">
                <label class="label" style="color:black; font-weight:bold; font-size:25px">TENGO:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select [(ngModel)]="tengo" (change)="convertir()">
                <option [value]="moneda.name" *ngFor="let moneda of monedas" >{{ moneda.desc }}</option>
              </select>
                    </div>
                </div>
            </div>
            <div class="field is-expanded">
                <label class="label" style="color:black; font-weight:bold; font-size:25px">QUIERO:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select [(ngModel)]="quiero" (change)="convertir()">
                <option [value]="moneda.name" *ngFor="let moneda of monedas" >{{ moneda.desc }}</option>
              </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label *ngIf="cantidad > 0" class="label" style="color:black; font-weight:bold; font-size:50px; text-align: center">{{ cantidad }} {{ tengo }} ---> SON ---> {{ total | number: '0.0-2' }} {{ quiero }}</label>

    <div class="jumbtrom" style="text-align: center;">
        <img class="img" src="../assets/img/dolar.gif" style="width: 300px; height: 300px;">
        <img class="img" src="../assets/img/libra.png" style="width: 300px; height: 300px;">
        <img class="img" src="../assets/img/euro.gif" style="width: 300px; height: 300px;">
    </div>
    <br/>
</div>