<br/>
<div class="jumbtrom">
    <h1 style="color:white; background:blue; text-align: center; font-weight:bold; font-size:70px">LISTADO DE TAREAS</h1>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
            <app-list-tareas></app-list-tareas>
        </div>
    </div>
</div>
<hr>
<div class="jumbtrom" style="text-align: center;">
    <img class="img" src="../assets/img/lista1.gif" style="width: 300px; height: 300px;">
    <img class="img" src="../assets/img/lista2.gif" style="width: 300px; height: 300px;">
    <img class="img" src="../assets/img/lista3.gif" style="width: 300px; height: 300px;">
</div>