<div class="container" style="margin-top: 5em; margin-bottom:5em; width:50%;">
    <div class="card" style="text-align:center;">
        <!-- style="width: 1000px; height: 250" -->
        <div class="card-header" style="background-color:blue">
            <h1 style="color:white; text-align: center; font-weight:bold; font-size:25px">LISTA DE DULCES Y SNACKS</h1>
        </div>
        <div class="card-body">
            <!-- IMAGENES CON BOOTSTRAP -->
            <section class="online-courses">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-4">
                            <div class="card online-courses-card">
                                <img src="../assets/img/subcategorias/dulcesysnacks/1.jpg" class="img-fluid" alt="">
                                <div class="card-footer" style="text-align:center;">
                                    <button mat-raised-button color="warn" (click)="redirectSnacks()">VER MÁS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card online-courses-card">
                                <img src="../assets/img/subcategorias/dulcesysnacks/2.jpg" class="img-fluid" alt="">
                                <div class="card-footer" style="text-align:center;">
                                    <button mat-raised-button color="warn" (click)="redirectSnacks()">VER MÁS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card online-courses-card">
                                <img src="../assets/img/subcategorias/dulcesysnacks/3.jpg" class="img-fluid" alt="">
                                <div class="card-footer" style="text-align:center;">
                                    <button mat-raised-button color="warn" (click)="redirectSnacks()">VER MÁS</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-4">
                            <div class="card online-courses-card">
                                <img src="../assets/img/subcategorias/dulcesysnacks/4.jpg" class="img-fluid" alt="">
                                <div class="card-footer" style="text-align:center;">
                                    <button mat-raised-button color="warn" (click)="redirectSnacks()">VER MÁS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card online-courses-card">
                                <img src="../assets/img/subcategorias/dulcesysnacks/5.jpg" class="img-fluid" alt="">
                                <div class="card-footer" style="text-align:center;">
                                    <button mat-raised-button color="warn" (click)="redirectSnacks()">VER MÁS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- IMAGENES CON BOOTSTRAP -->
        </div>

        <br/>
        <br/>

    </div>
</div>